@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";


body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #efefef;
}

a.active{
    border-bottom: 2px solid black;
}